<div class="d-flex justify-content-center w-100 h-100 p-2 align-items-center">
    <div class="loader" *ngIf="loader">

    </div>
    <div class="" *ngIf="!loader">
        <div class="d-flex just">
            <div class="d-flex container justify-content-start">
                <p class="" (click)="getYourData()">Prikaži napoved svoje lokacije</p>
            </div>
            <div class="d-flex container justify-content-end">
                <fa-icon [icon]="reload"  class="" (click)="getData('')"></fa-icon>
            </div>
        </div>

        <div class="">
            <div class="d-flex container justify-content-center">
                {{city}}
            </div>
            <div class="d-flex container justify-content-center" i18n>
                Podatki dobljeni {{getDateInDays()}} ob {{getDateInHours()}}
            </div>
        </div>
        <div class="d-flex">
            <div class="">
                <div class="" i18n>
                    Trenutna temperatura: {{currentCity.temp}} °C
                </div>
                <div class="" i18n>
                    Opis: {{currentCity.description}}
                </div>
                <div class="" i18n>
                    Min temp: {{currentCity.minTemp}}
                </div>
                <div class="" i18n>
                    Max temp: {{currentCity.maxTemp}}
                </div>
            </div>
            <div class="">
                <fivedayforecast [values]="tempValues" [days]="daysValues"></fivedayforecast>
            </div>
        </div>
    </div>
</div>