<div class="d-flex justify-content-center w-100 h-100 p-2 align-items-center">
    <div class="loader" *ngIf="loader">

    </div>
    <div class="" *ngIf="!loader">
        <div class="d-flex container justify-content-end">
            <fa-icon [icon]="reload"  class="" (click)="getData('')"></fa-icon>
        </div>
        <div class="">
            <div class="d-flex container justify-content-center">
                {{city}}
            </div>
            <div class="d-flex container justify-content-center">
                Podatki dobljeni {{getDateInDays()}} ob {{getDateInHours()}}
            </div>
        </div>
        <div class="d-flex">
            <div class="">
                <div class="">
                    Trenutna temperatura: {{currentCity.temp}} °C
                </div>
                <div class="">
                    Opis: {{currentCity.description}}
                </div>
                <div class="">
                    Min temp: {{currentCity.minTemp}}
                </div>
                <div class="">
                    Max temp: {{currentCity.maxTemp}}
                </div>
            </div>
            <div class="">
                <fivedayforecast></fivedayforecast>
            </div>
        </div>
    </div>
</div>